<h3>Tasks</h3>
<br>
<hr>
<br>
<%  @category_tasks.each do |task|  %>
  <div>
    <p>Task: <%= task.task_name %> </p>
    
    <p> <%= link_to "Show Task", category_task_path(task) %> </p>
  </div>
  <br>
<% end %>
